.header {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  font-family: Arial;
  font-weight: bold;
}

.container {
  height: 70vh;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  margin-top: 20px;
}

.container-title {
  display: block;
  background-color: blue;
  color: white;
  border-radius: 30px;
  text-align: center;
  padding: 50px 0px;
  font-size: 40px;
}

.container-box {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

.container-box > span {
    display: flex;
    margin: 40px;
}

.container-box > img {
  padding: 5% 0px;
  width: 300px;
  height: 300px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
