.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  color: black;
  width: 99vw;
  height: 700px;
}

.main-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.main-right,
.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  
}

.main-left,
.main-right {
  margin-top: 150px;
}

