.container {
    display: flex;
    background-color: aqua;
    justify-content: space-around;

}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: bisque;
    
}

.main-rigth {
    background-color: blue;
}
