.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  font-size: 40px;
}

.text-box {
  display: flex;
  border-radius: 30px;
  background-color: #d9d9d9;
  width: 50%;
  height: 30%;
  justify-content: center;
  align-items: center;
}
.loading-box {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.loading-box > div {
  height: 50px;
  width: 120px;
  text-align: center;
  padding-top: 20px;
  background-color: #d9d9d9;
  
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  
}

.start {
  animation: pulse 1.5s;
}

.progress {
  animation: pulse 1.5s;
  animation-delay: 1.5s;
}

.completion {
  animation: pulse 1.5s;
  animation-delay: 3s;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
    opacity: 0.7;
    background: green;
  }
  50% {
    transform: scale(0.9);
    opacity: 1;
    background: green;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    background: green;
  }
}
