.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  font-size: 40px;
}

.text-box {
  display: flex;
  border-radius: 30px;
  background-color: #d9d9d9;
  width: 50%;
  height: 30%;
  justify-content: center;
  align-items: center;
}

.load {
  position: relative;
  width: 12px;
  height: 12px;

  top: 46%;
  top: -webkit-calc(50% - 6px);
  top: calc(50% - 6px);
  left: 46%;
  left: -webkit-calc(50% - 6px);
  left: calc(50% - 6px);

  border-radius: 12px;
  background-color: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: load 1s ease-in-out infinite;
  animation: load 1s ease-in-out infinite;
}

.load:before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0px;
  left: -25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
}

.load:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0px;
  left: 25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
